<h1>Forecast for {{ city }}</h1>
<hr>
Number of forecasts: <a href="#/forecast/2" ng-class="{ 'label label-primary' : days === '2', 'label label-info' : days !== '2' }">2</a> | <a href="#/forecast/4" ng-class="{ 'label label-primary' : days === '4', 'label label-info' : days !== '4' }">4</a> | <a href="#/forecast/6" ng-class="{ 'label label-primary' : days === '6', 'label label-info' : days !== '6' }">6</a> | <a href="#/forecast/8" ng-class="{ 'label label-primary' : days === '8', 'label label-info' : days !== '8' }">8</a> | <a href="#/forecast/10" ng-class="{ 'label label-primary' : days === '10', 'label label-info' : days !== '10' }">10</a>
<hr>
<div ng-repeat="w in weatherResult.list">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ w.dt * 1000 | date:'HH:mm - d. MMM yyyy' }}</h3>
        </div>
        <div class="panel-body">
          {{ w.weather[0].description[0].toUpperCase() + w.weather[0].description.slice(1) }}<br />
          Temperature: {{ convertToCelsius(w.main.temp) }}C&deg;
        </div>
      </div>
    </div>
  </div>
</div>
